@charset

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#390D02,#A52502);
}

main {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #154B52;
    background-color: white;
    width: 60%;
    padding: 10px;
    margin: auto;
}
h1{
    color: #390D02;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px #154B52;
}
h2{
    color: #154B52;
}
p{
    color: #390D02;
    text-align: justify;
}